body
    {
        background-color: papayawhip;
    }
hr
    {
        border-style: none;
        border-color: gray;
        border-top-style: dotted;
        width: 5%;
        border-width: 5px;
    }
img
    {
        border-radius: 3%;
    }
.center
    {
        text-align: center;
    }